<div class="login-page">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      Welkom op Syncyber
    </mat-card-title>
    <form [formGroup]="myForm" #loginForm="ngForm" (ngSubmit)="onLogin()">
      <div>
        <mat-form-field>
          <input autofocus matInput placeholder="Email" type="email" [(ngModel)]="gebruiker.email" formControlName="email" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Wachtwoord" [type]="hide ? 'password' : 'text'"
            [(ngModel)]="gebruiker.wachtwoord" formControlName="wachtwoord" required />
          <mat-icon class="cursorPointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
      <mat-error>{{error}}</mat-error>
      <div>
        <button mat-raised-button class="btn btn-secondary btn-md btn-block" type="submit"
          [disabled]="!loginForm.form.valid">Login</button>
      </div>
    </form>
  </mat-card>
</div>