<div class="druiven-toevoegen text-center">
  <mat-card>
    <h2>Vat</h2>
    <form #vatForm class="text-center" (ngSubmit)="maakVat() ">
      <div>
        <mat-form-field>
          <input matInput placeholder="Label" type="text" name="label" [(ngModel)]="vat.label" required minlength="1"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Opmerking" type="text" name="opmerking" [(ngModel)]="vat.opmerking" required minlength="1"/>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Kies een Microcontroller</mat-label>
          <select matNativeControl required [(ngModel)]="vat.raspiId" name="rol">
            <option *ngFor="let raspi of raspis" [ngValue]="raspi.id" >
              {{raspi.naam}} - {{raspi.ip}}
            </option>
          </select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Kies een poort</mat-label>
          <select matNativeControl required [(ngModel)]="vat.poortId" name="rol">
            <option *ngFor="let poort of raspipoorten" [ngValue]="poort.id" >
              {{poort.id}}
            </option>
          </select>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="!vatForm.checkValidity()">
          <span *ngIf="!vat.label || !vat.opmerking || !vat.raspiId || !vat.poortId">Velden eerst invullen</span>
          <span *ngIf="vat.label && vat.opmerking && vat.raspiId && vat.poortId">Toevoegen</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
