//$navColor: #1e1e2d;
//$linkColor: #a2a3b7;
//$linkHover: #1b1b28;
//$iconColor: #434d6b;
//$iconColorHover: #5d78ff;
//
.container {
  margin-top: 20px !important;
}
col, button {
  width: 160px !important;
}
div.col {
  margin-bottom: 10px !important;
}




