<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xl-4 col-lg-4 col-md-4 text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/vaten-aanmaken" routerLinkActive="active">Vaten</button></div>-->
<!--    <div class="col-xl-4 col-lg-4 col-md-4 text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/druivensoort-aanmaken" routerLinkActive="active">Druivensoort</button></div>-->
<!--    <div class="col-xl-4 col-lg-4 col-md-4 text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/persprogramma-aanmaken" routerLinkActive="active">Pers programma</button></div>-->
<!--    <div class="col-xl-6 col-lg-6 col-md-6 text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/microcontroller-aanmaken" routerLinkActive="active">Sensoren</button></div>-->
<!--    <div class="col-xl-6 col-lg-6 col-md-6 text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/wijnsoort-aanmaken" routerLinkActive="active">Wijnsoort</button></div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/vaten-aanmaken" routerLinkActive="active">Vaten</button></div>
    <div class="col text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/druivensoort-aanmaken" routerLinkActive="active">Druivensoort</button></div>
    <div class="col text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/persprogramma-aanmaken" routerLinkActive="active">Pers programma</button></div>
    <div class="col text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/microcontroller-aanmaken" routerLinkActive="active">Sensoren</button></div>
    <div class="col text-center"><button mat-raised-button color="primary" routerLink="/application/materiaal-page/wijnsoort-aanmaken" routerLinkActive="active">Wijnsoort</button></div>
  </div>
</div>
<router-outlet></router-outlet>
