<div class="druiven-toevoegen text-center">
  <mat-card>
    <h2>Druivensoort</h2>
    <form #druivenForm class="text-center" (ngSubmit)="maakDruifensoort()">
      <div>
        <mat-form-field>
          <input matInput placeholder="naam" type="text" name="voornaam" [(ngModel)]="druivensoort.naam" required minlength="1"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Beschrijving" type="text" name="achternaam" [(ngModel)]="druivensoort.beschrijving" required minlength="1"/>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="!druivenForm.checkValidity()">
          <span *ngIf="!druivensoort.naam || !druivensoort.beschrijving">Velden eerst invullen</span>
          <span *ngIf="druivensoort.beschrijving && druivensoort.naam">Toevoegen</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
