<div class="vinificatie-toevoegen text-center">
  <h2>Vinificatie logboek aanmaken</h2>
  <form #veniForm class="text-center" (ngSubmit)="maakLogboekaan()">
    <ng-container>
      <mat-form-field>
        <mat-label>Kies een vat</mat-label>
        <select matNativeControl required [(ngModel)]="logboek.vatId" name="vat" (change)="getSensorWithTypeByVatId(logboek.vatId)">
          <option *ngFor="let vat of vaten" [ngValue]="vat.id">
            {{vat.label}}
          </option>
        </select>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-form-field>
        <mat-label>Kies een druifsoort</mat-label>
        <select matNativeControl required [(ngModel)]="logboek.druivensoortId" name="druifsoort">
          <option *ngFor="let druifsoort of druivensoorten" [ngValue]="druifsoort.id">
            {{druifsoort.naam}}
          </option>
        </select>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-form-field>
        <mat-label>Kies een wijnsoort</mat-label>
        <select matNativeControl required [(ngModel)]="logboek.wijnsoortId" name="wijnsoort">
          <option *ngFor="let wijnsoort of wijnsoorten" [ngValue]="wijnsoort.id">
            {{wijnsoort.naam}}
          </option>
        </select>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-form-field>
        <mat-label>Kies een persprogramma</mat-label>
        <select matNativeControl required [(ngModel)]="logboek.persprogrammaId" name="persprogramma">
          <option *ngFor="let persprogramma of persprogrammas" [ngValue]="persprogramma.id">
            {{persprogramma.omschrijving}}
          </option>
        </select>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-form-field>
        <mat-label>Kies een toezichthouder</mat-label>
        <select matNativeControl required [(ngModel)]="logboek.gebruikerId" name="toezichthouder">
          <option *ngFor="let toezichthouder of toezichthouders" [ngValue]="toezichthouder.gebruikerId">
            {{toezichthouder.gebruiker.voornaam}} {{toezichthouder.gebruiker.achternaam}}
          </option>
        </select>
      </mat-form-field>
    </ng-container>

    <ng-container>
      <mat-form-field>
        <textarea matInput placeholder="Opmerking" name="opmerking" [(ngModel)]="logboek.opmerking" required minlength="1"></textarea>
      </mat-form-field>
    </ng-container>

    <div class="checkbox">
      <mat-checkbox [(ngModel)]="logboek.manueel" (change)="logboek.manueel" (click)="toonSensors()" name="manueel">Metingen manueel ingeven</mat-checkbox>
    </div>
    <ng-container *ngIf="manueel">
      <ng-container *ngIf="sensorenLeeg">
        <div *ngFor="let sensor of sensorenWithType" class="checkboxen">
          <mat-checkbox [(ngModel)]="sensor.beschikbaar" (change)="sensor.beschikbaar" name="sensorBeschikbaar">{{sensor.sensorType.naam}} sensor</mat-checkbox>
          <ng-container *ngIf="sensor.beschikbaar">

            <app-alarm-form [sensor]="sensor"></app-alarm-form>

          </ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container class="submitbutton">
      <button mat-raised-button type="submit" color="primary" [disabled]="!veniForm.checkValidity()">
        <span *ngIf="!logboek.vatId || !logboek.druivensoortId || !logboek.wijnsoortId || !logboek.persprogrammaId || !logboek.gebruikerId  || !logboek.opmerking">Velden eerst invullen</span>
        <span *ngIf="logboek.vatId && logboek.druivensoortId && logboek.wijnsoortId && logboek.persprogrammaId && logboek.gebruikerId && logboek.opmerking">Starten</span>
      </button>
    </ng-container>
  </form>
</div>
