<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" role="navigation" class="sideNavContainer" fixedInViewport="true" opened="true">
    <div id="brand" class="text-center">
      <div class="col home-button"><img src="assets/Syncyber_logo.png"></div>
      <button class="col" mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
    <mat-nav-list class="custom-center">
      <a mat-list-item routerLink="home-page" routerLinkActive="active"><mat-icon>home</mat-icon><span class="navigation-item-label">Home</span></a>
      <a mat-list-item routerLink="adminpaneel-page" routerLinkActive="active"><mat-icon>supervisor_account</mat-icon><span class="navigation-item-label">Admin paneel</span></a>
      <a mat-list-item routerLink="vinificatie-page" routerLinkActive="active"><mat-icon>play_arrow</mat-icon><span class="navigation-item-label">Vinificatie</span></a>
      <a mat-list-item routerLink="materiaal-page" routerLinkActive="active"><mat-icon>build</mat-icon><span class="navigation-item-label">Materialen</span></a>
      <a mat-list-item routerLink="archief-page" routerLinkActive="active"><mat-icon>archive</mat-icon><span class="navigation-item-label">Archief</span></a>
      <a mat-list-item (click)="logOut()"><mat-icon>exit_to_app</mat-icon><span class="navigation-item-label">Logout</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
