// Brand: Gulcan
$brandBackground: #1a1a27;
$brandColor: #a2a3b7;
// all used colors for sidenav
$navColor: #1e1e2d;
$linkColor: #a2a3b7;
$linkHover: #1b1b28;
$iconColor: #434d6b;
$iconColorHover: #5d78ff;
// optionel for later
$navTitels: #4c4e6f;

.content {
  height: 100% !important;
  max-width: 100vw !important;
}
mat-sidenav-container {
  height: 100vh;
  width: 100vw;
}
#brand {
  background-color: $brandBackground;
  color: $brandColor;

  button {
    margin-top: 5px;
    &:hover mat-icon {
      background-color: $linkHover;
      color: $iconColorHover;
    }
  }
}

mat-sidenav {

  background-color: $navColor;
  color: $linkColor;
  display: block;
  width: 300px;

  a {
    color: $linkColor;
    margin-top: 20px;

    &:hover span {
      background-color: $linkHover;
      color: white;
    }
    &:hover mat-icon {
      background-color: $linkHover;
      color: $iconColorHover;
    }
    mat-icon {
      color: $iconColor;
      margin-right: 20px;
    }
  }
}

/*left sidenav style override*/
mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 65px !important;
  overflow: hidden;
}
mat-sidenav:not(.mat-drawer-opened) .navigation-item-label {
  display: none !important;
}
mat-sidenav:not(.mat-drawer-opened) .home-button {
  display: none !important;
}
mat-sidenav-content {
  margin-left: 65px;
}
img {
  width: 75px;
  height: 75px;
}

