<mat-card class="mat-elevation-z4">
  <h2>Toezicht overzicht</h2>
  <mat-table [dataSource]="toezichthouders">
    <!-- name Definition -->
    <ng-container cdkColumnDef="naam">
      <mat-header-cell *cdkHeaderCellDef> Naam </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.gebruiker.voornaam}} {{row.gebruiker.achternaam}}</mat-cell>
    </ng-container>

    <!-- startdatum Definition -->
    <ng-container cdkColumnDef="periode">
      <mat-header-cell *cdkHeaderCellDef> Periode </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.startDatum | date: 'shortDate' }} - {{row.eindDatum | date: 'shortDate' }}
      </mat-cell>
    </ng-container>

    <!-- acties Definition -->
    <ng-container cdkColumnDef="id">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let row" class="actionButtons">
        <button mat-icon-button (click)="openUpdateToezichthouderDiaglog(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *cdkHeaderRowDef="['naam', 'periode', 'id'];sticky: true"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: ['naam', 'periode', 'id']"></mat-row>
  </mat-table>
  <span class="fill"></span>
  <button mat-button (click)="openAddToezichthouderDiaglog()">
    <mat-icon>add</mat-icon> Nieuw
  </button>
</mat-card>