.actionButtons{
    display: flex;
    justify-content: flex-end;
}
mat-card {
	height: 500px;
	width: 100%;
	min-width: 300px;
	display: flex;
	flex-direction: column;

	mat-table{
		overflow-y: auto;
		overflow-x: none;
	}
  .fill {
		flex: 1;
	}
}
