/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap-grid";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  font-family: Poppins,Helvetica,sans-serif;
}
body {
  margin: 0px !important;
  padding: 0px !important;
}
.col, .row {
  margin: 0px !important;
  padding: 0px !important;
}
