<table mat-table [dataSource]="vaten" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef> Label </th>
    <td mat-cell *matCellDef="let element"> {{element.label}} </td>
  </ng-container>

  <ng-container matColumnDef="opmerking">
    <th mat-header-cell *matHeaderCellDef> Opmerking </th>
    <td mat-cell *matCellDef="let element"> {{element.opmerking}} </td>
  </ng-container>

  <ng-container matColumnDef="raspi">
    <th mat-header-cell *matHeaderCellDef> Microcontroller </th>
    <td mat-cell *matCellDef="let element"> {{element.microcontroller.naam}} - {{element.microcontroller.ip}} </td>
  </ng-container>

  <ng-container matColumnDef="poort">
    <th mat-header-cell *matHeaderCellDef> Poort </th>
    <td mat-cell *matCellDef="let element"> {{element.raspiPoort.id}} ({{element.raspiPoort.poort}}) </td>
  </ng-container>

  <ng-container matColumnDef="aanmaak-datum">
    <th mat-header-cell *matHeaderCellDef> Aanmaak datum </th>
    <td mat-cell *matCellDef="let element"> {{element.aanmaakDatum | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="update-datum">
    <th mat-header-cell *matHeaderCellDef> Update datum </th>
    <td mat-cell *matCellDef="let element"> {{element.updatedatum | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="beschikbaar">
    <th mat-header-cell *matHeaderCellDef> Beschikbaar </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.beschikbaar" color="primary">done</mat-icon>
      <mat-icon *ngIf="!element.beschikbaar" color="warn">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="online">
    <th mat-header-cell *matHeaderCellDef> Online </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.online" color="primary">done</mat-icon>
      <mat-icon *ngIf="!element.online" color="warn">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="crud">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
<!--      <button mat-icon-button><mat-icon color="primary">edit</mat-icon></button>-->
      <button mat-icon-button><mat-icon color="warn" (click)="verwijderVat(element.id)">delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
